.timeline-tweet-box {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: 1px solid #e6ecf0;
  position: relative;
}
.top-timeline-tweetbox .tweet-user {
  border-radius: 0;
  position: relative;
}

.tweet-user {
  padding: 10px 12px;
  background-color: #f5f8fa;
  border-radius: 0 0 5px 5px;
}

.home-tweet-box {
  background-color: #ecf4eb;
}

.top-timeline-tweet-box-user-image {
  left: 28px;
  position: absolute;
  top: 13px;
}

.top-timeline-tweetbox .timeline-tweet-box .t1-form {
  margin-left: 56px;
}

.t1-form {
  margin-left: 56px;
  margin-bottom: 0;
  margin-top: 0px;
}

.tweet-form.condensed .tweet-content {
  margin: 0;
}

.tweet-form .tweet-content {
  position: relative;
  margin-bottom: 8px;
}

.TweetBox-photoIntent .photo-selector {
  margin-right: 0;
  position: absolute;
  right: -1px;
  z-index: 1;
}

.RichEditor {
  border-color: #d1e3ce;
}

.RichEditor {
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 8px;
  line-height: 20px;
}

.RichEditor-container {
  position: relative;
}

.TweetstormDialog .RichEditor-scrollContainer,
.top-timeline-tweetbox .RichEditor-scrollContainer,
.inline-reply-tweetbox .RichEditor-scrollContainer {
  max-height: none;
}

.tweet-box {
  z-index: auto;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  transition: none;
  background: transparent !important;
  color: #4a913c;
}
