button {
  color: inherit;
  font: inherit;
  margin: 0;
}

h3 {
  line-height: 22px;
  text-rendering: optimizeLegibility;
}

small {
  font-size: 12px;
  color: #4a913c;
}

.u-clearOutline {
  outline: none;
}

.u-table {
  display: table;
}

.u-tableCell {
  display: table-cell;
}

.u-alignMiddle {
  vertical-align: middle;
}

.module {
  text-align: left;
}

.wtf-module {
  display: block;
}

.wtf-module h3 {
  font-size: 18px;
  font-weight: bold;
  color: #14171a;
  display: inline;
}

.dashboard-right .module .flex-module {
  background-color: #fff;
  border: 1px solid #e6ecf0;
  margin-bottom: 0;
  padding: 15px;
  line-height: 16px;
}

.module::after {
  contain: " ";
  display: table;
}

.btn-link {
  color: #4a913c;
}

/* Recomendation List */

.user-recommendations {
  transition: all 0.15s ease-in-out;
}

.UserSmallListItem {
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
}

.UserSmallListItem:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.account-summary {
  position: relative;
  display: block;
  min-height: 48px;
}

.flex-module-inner {
  color: #657786;
  font-size: 12px;
}

.UserSmallListItem-context {
  display: flex;
  margin-bottom: 4px;
}

.dismiss {
  color: #ccd6dd;
  float: right;
  width: 10px;
  height: 10px;
  margin-top: 0px;
  cursor: pointer;
}

.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
  font-family: "edgeicons";
}

.Icon::after {
  display: block;
  font-family: "edgeicons";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.Icon--close::before {
  content: "\f045";
}

.account-group {
  display: block;
  line-height: 16px;
}

.account-summary .content {
  margin-left: 58px;
  margin-right: 20px;
}

.account-summary .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.UserSmallListItem .account-group .avatar {
  top: unset;
}

.account-group-inner {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fullname {
  /* word-break: break-all; */
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
}

.fullname:hover {
  color: #4a913c;
  text-decoration: underline;
}

.UserBadges .Icon {
  padding-left: 2px;
}

.Icon--verified:after {
  content: "\f099";
  line-height: 1;
  position: relative;
  display: block;
  font-family: "edgeicons";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #1da1f2;
  font-size: 14px;
}

.account-group .username {
  font-size: 14px;
  color: #657786;
}

.UserSmallListItem .user-actions {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.EdgeButton {
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  padding: 4px 12px;
  min-width: 89px;
}

.EdgeButton--secondary {
  background-color: #fff;
  border: 1px solid #4a913c;
  color: #4a913c;
}

.EdgeButton:hover {
  background-color: #ecf4eb;
}

/* Find People To follow */
.u-hoverUnderline:hover {
  color: #4a913c;
  text-decoration: underline;
}
