.stream-item-footer {
  display: table;
  width: 100%;
}

.tweet .stream-item-footer {
  font-size: 12px;
  padding-top: 1px;
}

.ProfileTweet-actionList {
  font-size: 0;
  height: 18px;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 10px;
}

.ProfileTweet-actionList .ProfileTweet-action:last-child {
  min-width: 0;
}

.ProfileTweet-action {
  display: inline-block;
  min-width: 80px;
  height: inherit;
}

.ProfileTweet-actionButton,
.ProfileTweet-actionButtonUndo {
  color: #657786;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 0 2px;
  position: relative;
}

.ProfileTweet-actionCount {
  color: inherit;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-left: 6px;
  position: relative;
  vertical-align: text-bottom;
}

.ProfileTweet-action--reply:hover .ProfileTweet-actionButton {
  color: #1da1f2;
}

.ProfileTweet-action--retweet:hover .ProfileTweet-actionButton {
  color: #17bf63;
}

.ProfileTweet-action--favorite:hover .ProfileTweet-actionButton {
  color: #e0245e;
}

.ProfileTweet-action--dm:hover .ProfileTweet-actionButton {
  color: #17bf63;
}
